<%- holes = parent.holes.send("#{side}_nine") -%>
<tr>
  <th class="label align_left">Team</th>
  <%- holes.each do |hole| -%>
    <th class="hole"><%= hole.number %></th>
  <%- end -%>
  <th>Total</th>
  <th></th>
</tr>
<%- if parent.scoreable? -%>
  <tr>
    <td class="label align_left"><%= parent.name %></td>
    <%- holes.each do |hole| -%>
      <td class="hole score align_center"><%= hole.score %></td>
    <%- end -%>
    <td></td>
    <td></td>
  </tr>
  <%- parent.entries.each do |entry| -%>
    <tr>
      <td class="label align_left"><%= entry.name %></td>
      <%- entry.holes.send("#{side}_nine").each do |hole| -%>
        <td class="hole score align_center"><%= hole.score %></td>
      <%- end -%>
      <td></td>
      <td></td>
    </tr>
  <%- end -%>
<%- end -%>
<tr>
  <td class="label align_left">Yards</td>
  <%- holes.each do |hole| -%>
    <td class="hole yards align_center"><%= hole.yards %></td>
  <%- end -%>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="label align_left">Handicap</td>
  <%- holes.each do |hole| -%>
    <td class="hole handicap align_center"><%= hole.handicap %></td>
  <%- end -%>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="label align_left">Par</td>
  <%- holes.each do |hole| -%>
    <td class="hole par align_center"><%= hole.par %></td>
  <%- end -%>
  <td></td>
  <td></td>
</tr>
<tr>
  <td class="label align_left">&nbsp;</td>
  <%- holes.each do |hole| -%>
    <td class="hole edit align_center">
      <%= link_to "Edit #{hole.number}", polymorphic_edit_hole_path(parent, hole), :class => "hole" %>
    </td>
  <%- end -%>
  <td></td>
  <td></td>
</tr>
