<p id="notice"><%= notice %></p>

<h3 class="header"><%= @scorecard.course.name %></h3>

<%= render :partial => @scorecard, :as => :parent %>

<%= link_to 'Edit', edit_scorecard_path(@scorecard) %> |
<%= link_to 'Back', scorecards_path %>
