<%= form_for([@parent, @hole]) do |f| %>
  <% if @hole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

      <ul>
      <% @hole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%- if @parent.is_a?(Scorecard) -%>
    <div class="field">
      <%= f.label :score %><br />
      <%= f.text_field :score %>
    </div>
  <%- end -%>

  <div class="field">
    <%= f.label :par %><br />
    <%= f.select :par, (3..5).map { |i| [i,i]} %>
  </div>
  <div class="field">
    <%= f.label :handicap %><br />
    <%= f.select :handicap, (1..18).map { |i| [i,i]} %>
  </div>
  <div class="field">
    <%= f.label :yards %><br />
    <%= f.text_field :yards %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
